@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Two NCS Drive<br />
    Yio Chu Kang Road, S 123456<br />
    <abbr title="Phone">P:</abbr>
    9000 1234
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ncs@example.com">ncs@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ncs-marketing@example.com">ncs-marketing@example.com</a>
</address>
